setproctitle==1.2.2
psutil==6.1.0
colorama==0.4.6
textual==2.1.2
propcache==0.3.0
h11==0.14.0
torch==2.4.0
interegular==0.3.3
jupyter_core==5.7.2
bleach==6.2.0
anyio==4.8.0
attrs==25.1.0
aiohappyeyeballs==2.4.6
latex2mathml==3.77.0
regex==2024.11.6
streamlit==1.40.1
nvidia-cusparse-cu12==12.1.0.106
yarl==1.18.3
pyOpenSSL==25.0.0
pybind11==2.13.6
jsonschema==4.23.0
pyarrow==19.0.1
pyairports==2.1.1
notebook==7.2.2
orjson==3.10.15
antlr4-python3-runtime==4.9.3
argon2-cffi-bindings==21.2.0
smart-open==7.0.5
sentence-transformers==3.3.1
nbclient==0.10.1
sse-starlette==2.2.1
matplotlib-inline==0.1.7
pyzmq==26.2.0
verl==0.2.0.dev0
huggingface-hub==0.29.1
lark==1.2.2
opt_einsum==3.4.0
jupyterlab_pygments==0.3.0
opencensus==0.11.4
jieba==0.42.1
dill==0.3.8
safetensors==0.5.2
ipywidgets==8.1.5
transformers==4.46.0
wasabi==1.1.3
pypdfium2==4.30.0
networkx==3.4.2
PyStemmer==2.2.0.3
opencensus-context==0.1.3
platformdirs==4.3.6
toml==0.10.2
markdown-it-py==3.0.0
packaging==24.1
packaging==24.2
llvmlite==0.43.0
scikit-learn==1.5.2
rank-bm25==0.2.2
fastapi==0.115.8
exceptiongroup==1.2.2
fastjsonschema==2.21.0
google-auth==2.38.0
fqdn==1.5.1
gitdb==4.0.11
jupyter-events==0.10.0
fake-useragent==2.0.3
ipython==8.30.0
docker-pycreds==0.4.0
jupyterlab_widgets==3.0.13
greenlet==3.1.1
pytrec_eval==0.5
svgwrite==1.4.3
gguf==0.10.0
tinycss2==1.4.0
nvidia-cusparselt-cu12==0.6.2
nh3==0.2.18
stack-data==0.6.3
setproctitle==1.3.5
websockets==14.2
omegaconf==2.3.0
nltk==3.9.1
msgspec==0.18.6
py-spy==0.4.0
googleapis-common-protos==1.69.0
cachetools==5.5.0
multiprocess==0.70.16
pytz==2025.1
babel==2.16.0
pyee==12.1.1
nvidia-cuda-cupti-cu12==12.1.105
datasets==3.2.0
tornado==6.4.2
lxml==5.2.2
lxml==5.3.0
comm==0.2.2
memray==1.15.0
jaxlib==0.4.35
isoduration==20.11.0
pdfplumber==0.11.4
black==24.10.0
zstandard==0.23.0
cymem==2.0.8
requests==2.32.3
httpx==0.28.1
catalogue==2.0.10
decorator==5.1.1
nvidia-cusolver-cu12==11.4.5.107
tensordict==0.5.0
python-dotenv==1.0.1
bm25s==0.2.4
mpmath==1.3.0
watchfiles==0.24.0
docstring_parser==0.16
pydantic==2.10.6
einops==0.8.1
litellm==1.61.15
rsa==4.9
base58==2.1.1
executing==2.1.0
outlines==0.0.46
certifi==2024.8.30
proto-plus==1.26.0
kiwisolver==1.4.7
blis==1.0.1
threadpoolctl==3.5.0
ptyprocess==0.7.0
pyasn1_modules==0.4.1
jsonpointer==3.0.0
accelerate==1.2.1
watchdog==6.0.0
gradio_client==1.5.4
tqdm==4.67.1
httpcore==1.0.7
jupyterlab_server==2.27.3
pydantic_core==2.27.2
sentry-sdk==2.22.0
nvidia-cudnn-cu12==9.1.0.70
colorful==0.5.6
ruff==0.9.7
zipp==3.21.0
distro==1.9.0
vllm==0.6.3
frozenlist==1.5.0
importlib_metadata==8.5.0
sentencepiece==0.2.0
json5==0.10.0
soupsieve==2.6
httptools==0.6.4
snowballstemmer==2.2.0
diskcache==5.6.3
pexpect==4.9.0
rfc3339-validator==0.1.4
virtualenv==20.29.2
vllm-flash-attn==2.6.1
ml_dtypes==0.5.0
multidict==6.1.0
Send2Trash==1.8.3
partial-json-parser==0.2.1.1.post4
codetiming==1.4.0
webcolors==24.11.1
safehttpx==0.1.6
torchdata==0.11.0
urllib3==2.2.3
wavedrom==2.0.3.post3
cffi==1.17.1
rpds-py==0.21.0
terminado==0.18.1
nvidia-cublas-cu12==12.1.3.1
pydeck==0.9.1
PyYAML==6.0.2
jupyter_client==8.6.3
async-timeout==5.0.1
tensorboardX==2.6.2.2
blinker==1.9.0
shortuuid==1.0.13
webencodings==0.5.1
Crawl4AI==0.4.248
parso==0.8.4
numpy==1.26.4
pandas==2.2.3
jupyter_server==2.14.2
blessed==1.20.0
jupyter-lsp==2.2.5
xxhash==3.5.0
pip==24.3.1
semantic-version==2.10.0
types-python-dateutil==2.9.0.20241003
ray==2.39.0
pyasn1==0.6.1
playwright==1.50.0
pure_eval==0.2.3
wheel==0.45.0
ffmpy==0.5.0
rfc3986-validator==0.1.1
rich==13.9.4
psutil==7.0.0
websocket-client==1.8.0
confection==0.1.5
mdit-py-plugins==0.4.2
typer==0.15.1
pydub==0.25.1
triton==3.0.0
flash_attn==2.7.4.post1
marisa-trie==1.2.1
trl==0.9.6
jsonschema-specifications==2024.10.1
colorama==0.4.6
murmurhash==1.0.10
nest-asyncio==1.6.0
narwhals==1.14.1
mistune==3.0.2
prometheus-fastapi-instrumentator==7.0.0
deepspeed==0.15.3
weasel==0.4.1
wrapt==1.16.0
defusedxml==0.7.1
hydra-core==1.3.2
wandb==0.19.7
filelock==3.17.0
pathspec==0.12.1
google-api-core==2.24.1
spacy-legacy==3.0.12
tomlkit==0.13.2
pyext==0.7
aiohttp==3.11.12
srsly==2.4.8
pdfminer.six==20231228
uc-micro-py==1.0.3
GitPython==3.1.43
starlette==0.45.3
spacy-loggers==1.0.5
python-json-logger==2.0.7
compressed-tensors==0.8.0
termcolor==2.5.0
nvidia-nvtx-cu12==12.1.105
nvidia-nvjitlink-cu12==12.4.127
fake-http-header==0.3.5
pyparsing==3.2.0
distlib==0.3.9
cycler==0.12.1
traitlets==5.14.3
contourpy==1.3.1
nvidia-cuda-nvrtc-cu12==12.1.105
async-lru==2.0.4
python-multipart==0.0.20
beautifulsoup4==4.12.3
ipykernel==6.29.5
jupyter==1.1.1
nvidia-nccl-cu12==2.20.5
nbconvert==7.16.4
anthropic==0.40.0
Pygments==2.19.1
grpcio==1.70.0
tokenizers==0.21.0
wcwidth==0.2.13
shtab==1.7.1
charset-normalizer==3.4.0
matplotlib==3.10.0
python-dateutil==2.9.0.post0
pillow==10.4.0
smmap==5.0.1
jedi==0.19.2
opencv-python-headless==4.10.0.84
cryptography==44.0.0
language_data==1.3.0
av==14.1.0
typing_extensions==4.12.2
nvidia-cufft-cu12==11.0.2.54
numba==0.60.0
mathruler==0.1.0
faiss==1.8.0
arrow==1.3.0
openai==1.64.0
asttokens==3.0.0
overrides==7.7.0
importlib_resources==6.4.5
aiohttp-cors==0.7.0
setuptools==75.5.0
jupyter-console==6.6.3
jax==0.4.35
uri-template==1.3.0
aiofiles==23.2.1
jupyter_server_terminals==0.5.3
argon2-cffi==23.1.0
altair==5.4.1
six==1.16.0
notebook_shim==0.2.4
spacy==3.8.2
fire==0.7.0
gpustat==1.1.1
fsspec==2024.9.0
prompt_toolkit==3.0.48
uvicorn==0.34.0
llamafactory==0.9.2.dev0
thinc==8.3.2
ujson==5.10.0
joblib==1.4.2
prometheus_client==0.21.0
torchvision==0.19.0
rouge-chinese==1.0.3
Jinja2==3.1.5
munkres==1.1.4
preshed==3.0.9
protobuf==5.29.3
MarkupSafe==2.1.5
uvloop==0.21.0
pylatexenc==2.10
referencing==0.35.1
py-cpuinfo==9.0.0
aiosignal==1.3.2
mdurl==0.1.2
nbformat==5.10.4
jupyterlab==4.2.6
msgpack==1.1.0
scipy==1.14.1
tyro==0.8.14
pycparser==2.22
debugpy==1.8.9
hjson==3.1.0
xformers==0.0.27.post2
idna==3.10
rouge==1.0.1
tiktoken==0.7.0
ninja==1.11.1.3
cloudpickle==3.1.0
pycountry==24.6.1
sympy==1.13.1
gradio==5.12.0
pandocfilters==1.5.1
aiosqlite==0.21.0
flashrag-dev==0.1.3.dev0
fschat==0.2.36
nvidia-cuda-runtime-cu12==12.1.105
linkify-it-py==2.0.3
nvidia-ml-py==12.560.30
markdown2==2.5.1
langcodes==3.5.0
annotated-types==0.7.0
mypy-extensions==1.0.0
transformers==4.49.0
liger_kernel==0.5.4
tf-playwright-stealth==1.1.2
tenacity==9.0.0
shellingham==1.5.4
lm-format-enforcer==0.10.6
cloudpathlib==0.20.0
peft==0.12.0
widgetsnbextension==4.0.13
sniffio==1.3.1
jiter==0.7.1
click==8.1.8
cssselect==1.2.0
fonttools==4.55.0
tzdata==2025.1
mistral_common==1.5.1
nvidia-curand-cu12==10.3.2.106
llamafactory==0.9.2.dev0
verl==0.2.0.dev0
wheel==0.43.0
typeguard==4.3.0
autocommand==2.2.2
tomli==2.0.1
zipp==3.19.2
backports.tarfile==1.2.0
platformdirs==4.2.2
importlib_metadata==8.0.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
packaging==24.2
typing_extensions==4.12.2
more-itertools==10.3.0
